[Unit]
Description=Clarinet service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=sudo sh /home/ubuntu/run.sh

[Install]
WantedBy=multi-user.target
